<img src="/assets/header.jpg" class="img-fluid" width="100%" alt="Responsive image">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button routerLink="home" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>coffee</mat-icon>
    </button>
    <span>LA CATURRITA</span>
    <span class="example-spacer"></span>
    <button routerLink="home" mat-icon-button class="example-icon" aria-label="Example icon-button with home icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button *ngIf="this.user.role == 'user'" class="example-icon" routerLink="Proceso">Proceso</button>
    <button mat-button *ngIf="this.user.role == 'admin'" class="example-icon" routerLink="ProcesoAdmin">Proceso</button>
    <button mat-button *ngIf="this.user.role == 'user'" class="example-icon" routerLink="Metodos">Métodos</button>
    <button mat-button *ngIf="this.user.role == 'admin'" class="example-icon" routerLink="MetodosAdmin">Métodos</button>    
    <button mat-button *ngIf="this.user.role == 'admin'" class="example-icon" routerLink="servicios">Servicios</button>    
    <button mat-button *ngIf="this.user.role == 'admin'" class="example-icon" routerLink="variedades">Variedades</button>        
    <button mat-button class="example-icon" routerLink="MiCuenta">Mi cuenta</button>
    <button mat-button class="example-icon" routerLink="login" (click)="_loginservice.logout()">Salir</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mb-5" style="margin-top: 30px;">
  <router-outlet></router-outlet>
</div>
<footer class="footer text-center p-3">
  <p class="m-0">2021 ® ED</p>
</footer>