<div class="bg">
    <p>
        <mat-toolbar color="accent">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>coffee</mat-icon>
            </button>
            <span>LA CATURRITA</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>verified</mat-icon>
            </button>
        </mat-toolbar>
    </p>

    <div class="container mb-5" style="margin-top: 100px;">
        <mat-card>
            <mat-card-content>
                <h2>Inicie sesión</h2>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-error *ngIf="loginInvalid">
                        Incorrect username or password
                    </mat-error>
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="Email" formControlName="username" required>
                        <mat-error>
                            Please provide a valid email address
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput type="password" placeholder="Password" formControlName="password" required>
                        <mat-error>
                            Please provide a valid password
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="accent">Login</button>
                    <p></p>
                    <p>O inicie sesión con</p>
                    <button id="office" class="loginBtn loginBtn--office text-center" (click)="callPassport()">Office 365</button>
                </form>
            </mat-card-content>
        </mat-card>
        <a id="newAccount" routerLink="/account">Crear una cuenta</a>    
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> {{date}} © ED
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->