<div class="bg">
    <mat-toolbar color="accent">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>coffee</mat-icon>
        </button>
        <span>LA CATURRITA</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>verified</mat-icon>
        </button>
    </mat-toolbar>

    <div class="container mb-5" style="margin-top: 100px;">
        <mat-card>
            <mat-card-content>
                <h2>Crea una cuenta</h2>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-error *ngIf="loginInvalid">
                        Campo obligatorio
                    </mat-error>
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="Email" formControlName="username" required>
                        <mat-error>
                            Campo obligatorio
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput type="password" placeholder="Password" formControlName="password" required>
                        <mat-error>
                            Campo obligatorio
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput type="text" placeholder="Dirección entrega" formControlName="address" required>
                        <mat-error>
                            Campo obligatorio
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput type="tel" pattern="[0-9]*" placeholder="Celular" formControlName="phone" required>
                        <mat-error>
                            Campo obligatorio
                        </mat-error>
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="accent">Crear cuenta</button>
                </form>
            </mat-card-content>
        </mat-card>
        <a id="newAccount" routerLink="/login">Regresar</a>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> {{date}} © ED
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->